# Node modules and logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build output
dist
build

# Environment files (optional: only if you don't want to copy .env)
.env
.env.local
.env.*.local

# MacOS / Linux / IDE specific files
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.iml

# Docker files
docker-compose.override.yml

# Git
.git
.gitignore

# Temporary files
*.tmp
*.log
